{erl_opts, [debug_info]}.
{deps, [{lager, "3.5.2"},
        {cowboy, "2.2.0"},
        {jsx, "2.8.3"},
        {uuid, "1.7.2", {pkg, uuid_erl}}
       ]}.

{relx, [{release, { cvmfs_notify, "0.1.0" },
         [cvmfs_notify,
          lager,
          cowboy,
          jsx,
          uuid,
          runtime_tools,
          sasl]},

        {sys_config, "./config/sys.config.rel"},
        {vm_args, "./config/vm.args"},

        {overlay, [{mkdir, "etc"},
                   {mkdir, "log"},
                   {copy, "./config/user.config", "etc/user.config"}]},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}
       ]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true},
                            {system_libs, true}]}]},
            {test, [{deps, [
                            {proper, "1.2.0"},
                            {gun, "1.0.0-pre.2"}
                           ]}]}
           ]}.

