{erl_opts, [debug_info]}.
{deps, [{amqp_client, "3.7.7"},
        {cowboy, "2.4.0"},
        {jsx, "2.9.0"},
        {lager, "3.6.5"},
        {ranch_proxy_protocol, "2.1.1"},
        {uuid, "1.7.4", {pkg, uuid_erl}}
       ]}.

{relx, [{release, { cvmfs_notify, "0.1.0" },
         [cvmfs_notify,
          amqp_client,
          lager,
          cowboy,
          jsx,
          uuid,
          runtime_tools,
          sasl]},

        {sys_config, "./config/sys.config.rel"},
        {vm_args, "./config/vm.args"},

        {overlay, [{mkdir, "etc"},
                   {copy, "./config/config.json", "etc/config.json"},
                   {copy, "./scripts/90-cvmfs-notify-rotate", "scripts/90-cvmfs-notify-rotate"},
                   {copy, "./scripts/90-cvmfs-notify-rotate-systemd", "scripts/90-cvmfs-notify-rotate-systemd"},
                   {copy, "./scripts/setup.sh", "scripts/setup.sh"},
                   {copy, "./scripts/run_cvmfs_notify.sh", "scripts/run_cvmfs_notify.sh"},
                   {copy, "./scripts/cvmfs-notify.service", "scripts/cvmfs-notify.service"}]},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}
       ]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true},
                            {system_libs, true}]}]},
            {test, [{deps, [
                            {proper, "1.3.0"},
                            {gun, "1.1.0"}
                           ]}]}
           ]}.

